.app {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
  color: #333;
}

form {
  margin-bottom: 20px;
}

.input-field {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

textarea {
  resize: vertical;
  height: 80px;
}

.add-button {
  display: block;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
  transition: background-color 0.2s;
}

.add-button:hover {
  background-color: #555;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.task-item.completed {
  background-color: #f3f3f3;
}

.task-item__content {
  margin-bottom: 10px;
}

.task-item__title {
  font-weight: 700;
}

.task-item__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.checkbox-label {
  margin-right: 10px;
}

.delete-button {
  background: #fddcdc;
  color: #ff5151;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.2s;
}

.delete-button:hover {
  background: #ff5151;
  color: #fff;
}

p.no-tasks {
  color: #777;
}
